a {
    color:rgb(33, 188, 255);
}

a:hover {
    background-color: rgb(252, 187, 230);
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: snow; 
    margin: 10px;
    text-align: center;     
} 

h1 {
    color: rgb(252, 187, 230);
}

header h1 {
    text-decoration: none;
    font-size:40px;
}

h2 {
    color: rgb(84, 84, 84);
}

h3 {
    background-color: rgb(237, 236, 255);
    font-style: oblique;
}

p {
    line-height: 150%;
    color: rgb(43, 55, 58);
}

footer {
    border:1px solid lightgrey;
}

#greeting {
    color: rgb(109, 109, 109);
    font-weight: bold;
    font-size: 25px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 10px;
    justify-content: space-around;
    background-color: rgb(209, 228, 255); 
}

.about_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr  ;
    grid-gap: 20px;
    margin: 10px;
}

img {
    width: 100%;
    max-height: 50vh;
    object-fit: cover;
    }

#spongebob {
        width: 30%;
        max-height: 50vh;
        object-fit: cover;
        }

#introduction {
    grid-column: 2 / 3;
}

#cat {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
}

#jewels2 {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
}

#me {
    grid-column: 3 / 4;
    grid-row: 2 / 4;
}

.portfolio {
    background-color: rgb(255, 255, 255);
    width: 200px;
    margin: 10px;
    border: 3px solid rgb(220, 220, 255);
    justify-content: space-around;
    padding: 10px;
}

#navigation {
    background-color: rgb(251, 249, 253);
    border:1px solid lightgrey;
    font-size: 1.5em;
    font-style: italic;
    text-align: left;
    padding: 7px;
}




